!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=1024, user-scalable=no"}

    %title
      = "Visualising Data"

    %link{rel: "stylesheet", href: "core/deck.core.css"}

    %link{rel: "stylesheet", href:"extensions/goto/deck.goto.css"}
    %link{rel: "stylesheet", href:"extensions/menu/deck.menu.css"}
    %link{rel: "stylesheet", href:"extensions/navigation/deck.navigation.css"}
    %link{rel: "stylesheet", href:"extensions/status/deck.status.css"}
    %link{rel: "stylesheet", href:"extensions/hash/deck.hash.css"}
    %link{rel: "stylesheet", href: "extensions/scale/deck.scale.css"}

    %link{rel: "stylesheet", href: "themes/style/swiss.css"}

    %link{rel: "stylesheet", href: "themes/transition/horizontal-slide.css"}

    %script{src: "modernizr.custom.js"}
    %link{href: "http://fonts.googleapis.com/css?family=Dosis", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css"}

    %style{type: "text/css"}
      :sass
        .body
          font-family: 'Lato', sans-serif
          color: #5d5d5d
        .pull-right
          float: right
          margin: 10px
        .pull-left
          float: left
          margin: 10px
        .rotate270
          -webkit-transform: rotate(270deg)
          -moz-transform: rotate(270deg)
          -ms-transform: rotate(270deg)
          -o-transform: rotate(270deg)
          transform: rotate(270deg)
          filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678, sizingMethod='auto expand')
  %body.body.deck-container


  = Haml::Engine.new(`cat _introduction.haml`).render
  = Haml::Engine.new(`cat _section1.haml`).render
  = Haml::Engine.new(`cat _section2.haml`).render
  = Haml::Engine.new(`cat _section3.haml`).render
  = Haml::Engine.new(`cat _conclusion.haml`).render
  = Haml::Engine.new(`cat _snippets.haml`).render
